{% extends 'layout.html' %}

{% block title%}
<title>About</title>

{% endblock%}
{% block main_content %}


<div style="padding: 32px;" class="d-flex justify-content-center">
<ol>
    <li>Prativ Shrestha</li>
    <li>Heman Maharjan</li>
    <li>Aayush Shrestha</li>
</ol>
<br>
</div>

<div style="padding: 32px;" class="d-flex justify-content-center">
    A ghost kitchen, also known as a cloud kitchen, is a type of platform that operates solely for 
    the purpose of fulfilling online orders. Ghost kitchens don't have a physical dining room 
    where patrons can sit and eat like regular restaurants do. Instead, a digital platform is used for 
    the preparation and delivery of all food.
    Ghost kitchens typically operate out of a large, shared commercial kitchen space or a 
    standalone kitchen facility. They rely heavily on technology to manage orders, track 
    inventory, and monitor performance. Some ghost kitchens also use data analytics to help 
    them make informed business decisions and improve customer satisfaction. One of the main 
    benefits of a ghost kitchen is that it allows vendors to reach a wider audience without the 
    need for a physical storefront. This can be especially appealing for new and emerging brands 
    that want to test the market and build a customer base before investing in a full-fledged 
    restaurant. Additionally, ghost kitchens can help to reduce overhead costs, as they do not 
    require a large dining space, extensive decor, or front-of-house staff.
    However, there are also some challenges associated with ghost kitchens. Without a physical 
    storefront, it can be more difficult to build brand recognition and loyalty. Additionally, since 
    ghost kitchens rely heavily on online orders, they may be vulnerable to technical glitches or 
    outages.
    Despite these challenges, ghost kitchens have become an increasingly popular model for 
    restaurants and vendors looking to expand their reach and reduce costs. As online ordering 
    and food delivery continue to grow in popularity, it is likely that the ghost kitchen model will 
    become even more prevalent in the coming years
    </div>


{% endblock %}